/Auswertung.csv
/C-DCB Auswertung Tisch 5  - Auswertung.xlsm
/C-DCB Auswertung Tisch 5 .xls
/C-DCB EVO 2.4 Auswertung Tisch 5  - MD60sec.pdf
/C-DCB EVO 2.4 Auswertung Tisch 5 - max.Durchfluss.pdf
/C-DFB Auswertung Tisch 5  - Auswertung.xlsm
/C-DFB Auswertung Tisch 5.xls
/C-DFB EVO 3.1 Auswertung Tisch 5 - max.Durchfluss.pdf
/C-DFB EVO 3.1 Auswertung Tisch 5 - MD60sec.pdf
/C-DFB, C-DCB, Auswertung Tisch 5 - max.Durchfluss, MD60sec.pdf